<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">



    <title>Bite 2 Eat</title>
    <meta name="description" content="Order food from restaurants nearby your location.">


    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"      media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"     media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)  and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px) and (orientation: landscape)  and (-webkit-device-pixel-ratio: 2)"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="styles/style.css"          rel="stylesheet" type="text/css">
    <link href="styles/framework.css"      rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css"      rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css"     rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css"   rel="stylesheet" type="text/css">
    <link href="styles/animate.css"      rel="stylesheet" type="text/css">
    <!-- endbuild -->
  </head>
  <body ng-app="bite2eatApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      <div id="preloader disabled">
        <div id="status">
            <p class="center-text">
            Loading the content...
                  <em>Loading depends on your connection speed!</em>
              </p>
          </div>
      </div>

      <div class="all-elements">
        <div class="snap-drawers">

            <!-- Left Sidebar-->
        <div class="snap-drawer snap-drawer-left">
            <!--Sidebar Header-->
            <div class="sidebar-header">
                <a href="#" class="sidebar-logo"></a>
                <a href="#" class="sidebar-close"><i class="fa fa-times"></i></a>
            </div>
            <div class="deco"></div>
            <!--Page Breadcrumb-->
            <div class="breadcrumb">Menu</div>
            <div class="deco"></div>
            <!--Simple Menu Item-->
            <a class="menu-item active-menu" href="#/beta/search">
                <i class="fa fa-search"></i>
                <em>Search</em>
                <i class="fa fa-circle"></i>
            </a>
            <div class="deco"></div>

            <a class="menu-item" href="#/beta/dashboard/orders">
                <i class="fa fa-list-alt"></i>
                <em>Orders</em>
                <i class="fa fa-circle"></i>
            </a>
            <div class="deco"></div>



        </div>

            <!-- Right Sidebar -->
            <div class="snap-drawer snap-drawer-right">
                <!--Sidebar Close Button-->
                <a href="#" class="sidebar-close right-sidebar-close"><i class="fa fa-times"></i></a>
                <div class="clear"></div>
                <div class="deco"></div>


                <!-- Social Item -->
                <a class="social-item" href="https://www.facebook.com/bite2eat1">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>

                <div class="deco"></div>
            </div>
        </div>

        <!-- Page Header -->
        <div class="header" ng-class="{center: showCentered}">
          <a ng-show="showHeader" class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
          <a class="header-logo" href="#/"></a>

          <div class="input-group col-md-4" ng-show="showSearch" ng-controller="SearchBarCtrl">
        		<input type="text" class="search-query form-control" placeholder="Your food choice: pizza, salad" ng-model="searchValue" ng-keyup="$event.keyCode == 13 && triggerSearch()" />
        		<span class="input-group-btn">
        			<button class="btn btn-danger" type="button" ng-click="triggerSearch()">
        			<span class=" glyphicon glyphicon-search"></span>
        			</button>
        		</span>
        	</div>


          <a class="open-socials" href="#"><i class="fa fa-share-alt"></i></a>
        </div>

        <!-- Page Content-->
        <div id="content" class="snap-content">
          <div ng-view="" style="position: initial;">

          </div>
        </div>
      </div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21304201-7', 'auto');
  ga('send', 'pageview');

</script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/parse/parse.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/jqueryui.js"></script>
        <script src="scripts/framework.plugins.js"></script>
        <script src="scripts/custom.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/searchBar.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <!-- endbuild -->
</body>
</html>
