<div ng-repeat="row in results">
	<div class="item-menu-image">
                    <img src="images/pictures/1s.jpg" alt="img">
                </div>
                    <div style="padding-left:20px">
                    <h3 class="title">Video Timeline</h3>
                    <em>
                        Site outage for server update. More updates soon. Tap read more for further information.
                    </em>
                    </div>
                    <a href="#" class="button center-button button-green full-bottom detected-button">Order</a>
                    
			
		</div>
		</div>