<div class="row fill">
	<div class="col-md-3">
		<div class="" ng-repeat="row in results">
			<div class="restaurant" ng-click="menuItem(row.id)" ng-class="{active: (row.id == activeId)}">
				<div class="brand-logo">
					<img class="responsive-image" src="{{row.attributes.brandLogoUrl}}" alt="img">
				</div>
				<div class="data">
					<h3>{{row.attributes.name}}</h3>

						Address: {{row.attributes.address}}
						<br> Phone: {{row.attributes.phone}}
						<span ng-show="{{row.attributes.delivery}}"><br> Delivery Available <i class="tick-list delivery"></i></span>
						<span ng-show="!{{row.attributes.delivery}}"><br> Delivery Unavailable <i class="delete-list delivery"></i></span>
						<span ng-show="{{row.attributes.estimated}}"><br><i> Estimated time: {{row.attributes.estimated}} min </i></span>

				</div>
				<div class="next-quote">
				</div>
			</div>
		</div>
	</div>
	<div class="detail col-md-9" ng-class="{noBg: noResults}">
		<div id="preloader" class="my-loader" ng-hide="!loading">
			<div class="loader-status">
		    	<p class="center-text">
					Loading the content...
		            <em>Loading depends on your connection speed!</em>
		        </p>
		    </div>
		</div>

		<div ng-hide="noResults">
			<div ng-repeat="item in menuItems" >
				<div class="item-menu-image">
					<img src="{{item.attributes.itemImageUrl}}" alt="img">
				</div>
				<div style="padding-left:20px">
					<h3 class="title">{{item.attributes.name}}</h3>
					<em>
						{{item.attributes.description}}
						<br> <b>Lps. {{item.attributes.price}}</b>
						<br>
						<a class="button left-button button-green full-bottom detected-button" type="button" ng-click="addOrder()" style="margin-left: 200px;">Order</a>
					</em>
				</div>
			</div>
		</div>
	</div>
</div>
