<!-- Page Header -->
<div class="header">
	<!-- <a class="open-nav" href="#"><i class="fa fa-navicon"></i></a> -->
	<a class="header-logo" href="#/"></a>
	<div class="input-group col-md-4">
		<input type="text" class="search-query form-control" placeholder="Your food choice: pizza, salad" ng-model="searchValue" ng-keyup="$event.keyCode == 13 && searchInput()" />
		<span class="input-group-btn">
			<button class="btn btn-danger" type="button" ng-click="searchInput()">
			<span class=" glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
	<a class="open-socials" href="#"><i class="fa fa-share-alt"></i></a>
</div>
<div id="content" class="snap-content">
	<div class="row fill">
		<div class="master">
			<div class="" ng-repeat="row in results">
				<div class="restaurant">
					<div class="brand-logo">
						<img class="responsive-image" src="{{row.attributes.brandLogoUrl}}" alt="img">
					</div>
					<div class="data">
						<h3>{{row.attributes.name}}</h3>
						
							Address: {{row.attributes.address}}
							<br> Phone: {{row.attributes.phone}}
							<span ng-show="{{row.attributes.delivery}}"><br> Delivery Available <i class="tick-list delivery"></i></span>
							<span ng-show="!{{row.attributes.delivery}}"><br> Delivery Unavailable <i class="delete-list delivery"></i></span>
							<span ng-show="{{row.attributes.estimated}}"><br><i> Estimated time: {{row.attributes.estimated}} min </i></span>
						
					</div>
					<div class="next-quote" ng-click="menuItem(row.id)">
					</div>
				</div>
			</div>
		</div>
		<div class="detail">
			<div ng-repeat="item in menuItems">
				<div class="item-menu-image">
					<img src="{{item.attributes.itemImageUrl}}" alt="img">
				</div>
				<div style="padding-left:20px">
					<h3 class="title">{{item.attributes.name}}</h3>
					<em>
					{{item.attributes.description}}
					<br> <b>Lps. {{item.attributes.price}}</b>
					<br>
					<a href="#" class="button left-button button-green full-bottom detected-button" style="margin-left: 200px;">Order</a>
					</em>

				</div>
				
			</div>
		</div>
	</div>
</div>